Package: com.dgh0st.badgeoverlay
Name: BadgeOverlay
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Make badges overlay on top of icons instead of being in the corner.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
